* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f8f8f8;
}

a {
  color: #222;
}

img {
  display: block;
}

header {
  padding: 10px;
  -js-display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  width: 200px;
  -js-display: flex;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

#mainVisual {
  -js-display: flex;
  display: flex;
  justify-content: space-around;
}

#mainVisual img {
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  header ul {
    margin-top: 10px;
  }
}

main {
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
}

main > div {
  width: calc(33.3% - 20px);
  margin: 10px;
  box-shadow: 0 0 3px #aaa;
}

@media screen and (max-width: 600px) {
  main > div {
    width: calc(100% / 2 - 20px);
  }
}

main > div h2 {
  font-weight: normal;
  text-align: center;
  font-size: 1.2rem;
  padding: 5px;
}

main > div img {
  width: 100%;
}

main > div p {
  padding: 10px;
}

div.main_visual img {
  width: 100vw;
}
